data/
crop-sequence-boundaries/

__pycache__/
*.py[codz]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/
*.egg
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
.env
.envrc
.venv
.ruff_cache/
.mypy_cache/
.dmypy.json
.pytype/
.pyre/
.ipynb_checkpoints
.claude/
